#Calculator {
    background-color: #242530;
    font font-family: inter, sans-serif;
}

button{
    background-color:#404258;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: inter, sans-serif;
    height: 52px;
    width: 79px;
}

#display{
    height: 70px;
    width: 350px;
}

#keys{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}